<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id="page">
     <div id="image">
        <img src="static/harley.jpg" width="1000px" height="150px" class="align-center"/>
    </div>
<nav>
<ul>
    <li><a href="/index">Главная</a></li>
    <li><a href="/parsing">Парсинг</a></li>
    <li><a href="/contacts" class="on">Контакты</a></li>
</ul>
</nav>

<h2>Контакты</h2>
<p>Татьяна Кулешова</p>
<p>E-mail: tanuscha@bk.ru</p>
<p>Telegram: @Blacky77</p>


<footer>
    Copyright &copy; 2020
    Made by Tatyana Kuleshova<br>
    Сделано на Flask
</footer>
</div>
</body>
</html>