<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сбор данных</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id="page">
    <div id="image">
        <img src="static/harley.jpg" width="1000px" height="150px" class="align-center"/>
    </div>

<nav>
<ul>
    <li><a href="/index">Главная</a></li>
    <li><a href="/parsing">Парсинг</a></li>
    <li><a href="/contacts">Контакты</a></li>
</ul>
</nav>
<h2>Результаты</h2>
 <ul>

      <li>
        Данные по запросу автомобиля {{moto_name_site}} с сайта {{site_name}}.
      </li>
      <li>
        Средняя цена мотоцикла: {{average_price}} рублей.
      </li>
      <li>
         Максимальная цена мотоцикла: {{max_price}} рублей.
      </li>
      <li>
          Минимальная цена мотоцикла: {{min_price}} рублей.
      </li>
      <li>
          Всего предложений: {{offers_all}}.
      </li>
 </ul>

<footer>
    Copyright &copy; 2020
    Made by Tatyana Kuleshova<br>
    Сделано на Flask
</footer>
</div>
</body>
</html>