<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сбор данных</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id="page">
     <div id="image">
        <img src="static/harley.jpg" width="1000px" height="150px" class="align-center"/>
    </div>
<nav>
<ul>
    <li><a href="/index">Главная</a></li>
    <li><a href="/parsing" class="on">Парсинг</a></li>
    <li><a href="/contacts">Контакты</a></li>
</ul>
</nav>

<h2>Результаты</h2>

<p>Посмотрите данные по цене моделей мотоциклов, которые я для вас подобрала.</p>

<p><a href="/pars_res">BMW C 650 GT</a></p>
<p><a href="/pars_res2">Harley-Davidson Softail</a></p>

<footer>
    Copyright &copy; 2020
    Made by Tatyana Kuleshova<br>
    Сделано на Flask
</footer>

</div>
</body>
</html>